@import 'variables';

.create-twee {
	padding: 1rem;
	width: 100%;
	text-align: center;
	input {
		padding: .75rem;
		font-size: 1rem;
		border-radius: 6px;
	}
	input[type="submit"] {
		border: none;
		font-width: lighten;
		color: #fff;
		background: $logoutBtn;
	}
	input[type="text"] {
		width: 60%;
	}
}