@import 'variables';

.twee-item {
	background: #FFFFFF;
	padding: 1rem;
	margin: .9rem;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 
								0 6px 6px rgba(0,0,0,0.23);
	h5 {
		display: inline-block;
		margin: 0;
		padding: 0;
	}
	header {
		display: flex;
		.whois {
			width: 60%;
			.author {
				color: #333;
				margin-right: .6rem;
			}
			.username {
				font-weight: 200;
				font-size: 12px;
				color: blue;
				margin-right: .6rem;
			}

		}
		.actions {
	    width: 40%;
			display: flex;
	    justify-content: flex-end;
	    button {
	    	border: none;
		    margin-left: .5rem;
		    align-self: baseline;
	    }
		}
	}
	footer {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		.timestamp {
	    font-weight: 100;
	    padding: 0 1.5rem;
	    color: #adadad;
	    font-size: 12px;
	    align-self: center;
	    font-style: italic;
		}
	}
	p {
		padding: 0 1.5rem;
		margin-bottom: .5rem;
		font-size: .9rem;
		font-weight: lighter;
	}
}
