@import 'variables';

form.update {
	padding: .9rem;
	input[type="text"] {
		width: 90%;
		padding: .5rem;
		font-size: .9rem;
		border: 1px solid #dadada;
	}
	input[type="submit"] {
		border: none;
		padding: none;
	}
}

