@import 'variables';
@import 'create';
@import 'login';
@import 'signup';
@import 'nav';
@import 'list';
@import 'item';
@import 'update';

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: $offWhite;
	font-size: 16px;
}
.container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
ul {
	padding-start: 0;
}

